@import url('https://fonts.googleapis.com/css2?family=Ramabhadra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');



/* body{
    width: 100% !important;
} */




/* Drawer  */

/* all page */

.css-13ssbxi{
    overflow-y: scroll !important;
}

/* menu  */

.css-pr8qjy{
    background-color: #20232a !important;
}

/* Close Button  */

.css-gx5d6b{
    width: 25px !important;
    height: 25px !important;
    outline: 0 !important;
    border-color: red !important;
}

.css-gx5d6b:focus{
    box-shadow: none !important;
}

.css-onkibi {
    color: #f4f4ef !important;
    width: 12px !important;
    height: 12px !important;
}


/* Header  */

.css-1qd2q6s {
    font-family: 'Ramabhadra', sans-serif;
    font-weight: 500 !important;
    font-size: 17px !important;
    letter-spacing: 2px;
    margin-top: 6px;
    padding: 5px 5px 10px 5px!important;
}

/* Body  */

.css-kdzhnq{
overflow-y: scroll !important;
padding-left: 0 !important;
padding-right: 5% !important;
}

.css-kdzhnq::-webkit-scrollbar {
  width: 0.3em;
  cursor: pointer !important ;
}
 


.css-kdzhnq::-webkit-scrollbar-thumb {
  background-color: #2c5d91 !important;
  border-radius: 10% !important;
}
.css-kdzhnq::-webkit-scrollbar-thumb:hover {
  background-color: #2d5683 !important;
}





/* Others */

.category{
    font-family: 'Do Hyeon', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    margin-left: 5%;
    color: #C4C4C4;
}


.separation{
    width: 100%;
    height: 1.5px;
    background-color:  #303238;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.user-img{
    width: 80px;
    height: 80px;
    border-radius: 8%;
}

.icon-svg svg {
    font-size: 30px !important;
    border-radius: 5px;
    padding-top: 5px ;
    fill : #f4f4ef !important;
    background: #414245;
}

.side-svg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.side-svg svg{
    fill : #f4f4ef !important;
}

.css-title{
    font-weight: 300;
    margin-top: auto;
    margin-bottom: auto;
}

.mb-category{
    width: 100%;
    height: 0.4rem;
}


/* Sub menu  */
.line-menu{
    padding: 5px;
}

.line-menu:hover{
    background: rgba(44, 93, 145 , 0.2);
    border-top-left-radius : 5px;
    border-top-right-radius : 5px;
}

.line-menu:hover .icon-svg{
margin-left: 0.2rem;
}

.line-menu:hover .css-title{
color: #a01d26!important;
font-weight: 500 ;
}

.current-sub{
    width: 5%;
    height: auto;
}

.line-sub:hover .current-sub{
    border-left: #2c5d91 4.5px solid;
}

.child-menu{
    background: #292d35;
    border-bottom-left-radius : 5px;
    border-bottom-right-radius : 5px;
}

.line-menu-active{
    border-top-left-radius : 5px;
    border-top-right-radius : 5px;
    background: #292d35;
}


.line-child{
    color: #f4f4ef !important;
    font-weight: 300;
    margin-left: 30px;
}

.line-child:hover{
    color: #a01d26!important;
    font-weight: 450 ;
}


/* *****************  Navbar  ******************** */

.css-nav-head{
    position: sticky;
    top: 0;
    z-index: 10;
    padding: 0.8rem;
    background: #2a2d35;
    color: #f4f4ef;
    width: 100%;
    transition: all .7s ease;
}


.css-nav-head-sm{
    padding: 0.5rem;
}


.title-nav{
    animation: title-nav 0.7s forwards;
}

@keyframes title-nav {
  from {
    font-size: 15px;
    }
  to {
      font-size: 18px;
    }
}

.title-nav-sm{
    animation: title-nav-sm 0.7s forwards;
}

@keyframes title-nav-sm {
  from {
    font-size: 18px;
    }
  to {
      font-size: 15px;
    }
}



.css-nav-body,
.css-nav-body-left{
    background: #2a2d35;
    padding: 0.8rem;
    padding-bottom: 0;
    color: #f4f4ef;
    position: sticky;
    top:38px;
    z-index: 9;
}



.css-nav-body svg {
    fill: #d1d1d1;
    font-size: 24px;
    margin: auto;
}

.css-one-child p {
    text-align: center;
    transition: all .2s ease;
    font-size: 14px;
}



.css-nav-body-childs{
  width: 94%;
}

.css-one-child{
 width: 15%;
 padding-bottom: 13px;
}

.css-one-child-current {
 padding-bottom: 8px;
 border-bottom: #2c5d91 solid 5px ;
}

.css-one-child-current-red{
   padding-bottom: 8px;
 border-bottom: #a01d26 solid 5px ;
}

.css-one-child-current svg {
  fill: #fdfdfd;
}

.css-one-child:hover{
  padding-bottom: 8px;
  cursor: pointer;
  color: #a01d26;
  border-bottom: #2d5683 solid 5px;
  transition: all .2s ease;
}

.css-one-child:hover svg{
  fill: #fdfdfd;
}

.css-nav-body{
  animation: css-nav-body 0.7s forwards;
}


@keyframes css-nav-body {
  from {
   -webkit-transform:  translateY(-100px);
   -moz-transform:  translateY(-100px);
   -ms-transform:  translateY(-100px);
   -o-transform:  translateY(-100px);
   transform:  translateY(-100px);
    }
  to {
   -webkit-transform:  translateY(0px);
   -moz-transform:  translateY(0px);
   -ms-transform:  translateY(0px);
   -o-transform:  translateY(0px);
   transform:  translateY(0px);
    }
}

.css-nav-body-left{
  animation: css-nav-body-left .3s forwards;
  position: absolute;
  width: 100%;
}


@keyframes css-nav-body-left {
  0% {
   -webkit-transform:  translateY(0px);
   -moz-transform:  translateY(0px);
   -ms-transform:  translateY(0px);
   -o-transform:  translateY(0px);
   transform:  translateY(0px);
    }
  100% {
   -webkit-transform:  translateY(-100px);
   -moz-transform:  translateY(-100px);
   -ms-transform:  translateY(-100px);
   -o-transform:  translateY(-100px);
   transform:  translateY(-100px);
    }
}



/* Hamburg */

 .col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }


 .con{
   cursor: pointer;
   display: inline-block;
   margin: auto !important;
   -webkit-transition: all .7s ease;
   -moz-transition: all .7s ease;
   -ms-transition: all .7s ease;
   -o-transition: all .7s ease;
   transition: all .7s ease;
 }
 

 .bar {
   display: block;
   height: 2px;
   width: 20px;
   background: #2c5d91;
   margin: 4px auto;
   border-radius: 2px;
   -webkit-transition: all .7s ease;
   -moz-transition: all .7s ease;
   -ms-transition: all .7s ease;
   -o-transition: all .7s ease;
   transition: all .7s ease;
 }
 

.bar-lg {
   height: 2.5px;
   width: 25px;
   margin: 5.5px auto;
 }


.con:hover .bar{
  background-color: #a01d26;    
}
 

.con:hover .arrow-top {
   -webkit-transform: rotateZ(11deg) translateY(4.5px);
   -moz-transform: rotateZ(11deg) translateY(4.5px);
   -ms-transform: rotateZ(11deg) translateY(4.5px);
   -o-transform: rotateZ(11deg) translateY(4.5px);
   transform: rotateZ(11deg) translateY(4.5px);
   width: 15px;
 }

 
 .con:hover .arrow-bottom {
   -webkit-transform: rotateZ(-11deg) translateY(-4.5px);
   -moz-transform: rotateZ(-11deg) translateY(-4.5px);
   -ms-transform: rotateZ(-11deg) translateY(-4.5px);
   -o-transform: rotateZ(-11deg) translateY(-4.5px);
   transform: rotateZ(-11deg) translateY(-4.5px);
   width: 15px;
   /* background-color: #f4f4ef !important; */
 }
 

  .con:hover .arrow-middle {
   -webkit-transform: translateX(-4px);
   -moz-transform: translateX(-4px);
   -ms-transform: translateX(-4px);
   -o-transform: translateX(-4px);
   transform: translateX(-4px);
   /* width: 10px; */
 }




 .con:hover .arrow-top-lg {
   -webkit-transform: rotateZ(18deg) translateY(4.5px);
   -moz-transform: rotateZ(18deg) translateY(4.5px);
   -ms-transform: rotateZ(18deg) translateY(4.5px);
   -o-transform: rotateZ(18deg) translateY(4.5px);
   transform: rotateZ(18deg) translateY(4.5px);
   width: 20px;
   /* background-color: #f4f4ef !important; */
 }



  .con:hover .arrow-bottom-lg {
   -webkit-transform: rotateZ(-18deg) translateY(-4.5px);
   -moz-transform: rotateZ(-18deg) translateY(-4.5px);
   -ms-transform: rotateZ(-18deg) translateY(-4.5px);
   -o-transform: rotateZ(-18deg) translateY(-4.5px);
   transform: rotateZ(-18deg) translateY(-4.5px);
   width: 20px;
   /* background-color: #f4f4ef !important; */
 }



   .con:hover .arrow-middle-lg {
   -webkit-transform: translateX(-4px);
   -moz-transform: translateX(-4px);
   -ms-transform: translateX(-4px);
   -o-transform: translateX(-4px);
   transform: translateX(-4px);
   width: 25px;
 }

.css-foot-head{
  width: 60%;
  margin-left: 15%;
  color: #f4f4ef;
  padding: 2.5rem 0 2rem 0;
  font-size: 14px;
}

.css-foot-head a:hover{
  color: #a01d26;
}


.css-foot-body{
  margin-left: 15%;
  color: #919191;
  padding-bottom: 1.5rem;
  font-size: 15px;
}